:root {
    --preto: #000000;
    --roxo: #a200ff;
    --vermelho: #ff0000;
    --branco: #ffffff;
}
body {
    font-family: 'Arial', 'sans-sarif';
    background-color: var(--preto);
    color: var(--branco);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}
.header {
    background-color: var(--preto);
    border-bottom: 2px solid var(--vermelho)
}
.pesquisa-button img {
    width: 12px;
    height: 12px;
}
.header-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo {
    font-size: 2.0rem;
}
.logo span {
    color: var(--vermelho)
}
.menu {
    display: flex;
    gap: 3rem;
}
.menu a {
    text-decoration: none;
    color: var(--branco);
    transition: 0.3;
}
.menu a:hover {
    color: var(--roxo)
}
.pesquisa-section {
    margin: 2rem 0;
}
.pesquisa-conteudo {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.pesquisa-conteudo input {
    width: 60%;
    padding: 0.7rem;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1rem;
}
.pesquisa-button {
    background-color: var(--vermelho);
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.pesquisa-button:hover {
    background-color: var(--roxo);
    transform: scale(1.1);
}
.footer {
    margin-top: auto;
    background-color: var(--preto);
    text-align: center;
    padding: 1rem;
    border-top: 2px solid var(--vermelho);
    font-size: 0.8rem;
}